@charset "UTF-8";
@font-face { font-family: 'Euljiro10YearsLater'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff') format('woff'); font-weight: normal; font-display: swap; }
@font-face { font-family: 'MapoHongdaeFreedom'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoHongdaeFreedomA.woff') format('woff'); font-weight: normal; font-display: swap; }
@font-face { font-family: 'SchoolSafetyGoodSupport'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBareondotumR.woff2') format('woff2'); font-weight: 400; font-display: swap; }  @font-face { font-family: 'SchoolSafetyGoodSupport'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBareondotumB.woff2') format('woff2'); font-weight: 700; font-display: swap; }
@font-face { font-family: 'AliceDigitalLearning'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2'); font-weight: normal; font-display: swap;}

html, body { min-height: 100%;  }

body { font-family: SchoolSafetyGoodSupport; }

a,
button,
.btn { display: inline-block; font-family: MapoHongdaeFreedom; border: 0; border-radius: 0; background: transparent; transition: all 0.3s; -webkit-transition: all 0.3s; }
a:active,
button:active,
.btn:active { opacity: 0.5; }
[hidden] { display: none !important; }

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


.fade-up {
	animation: fadeUp 2s ease forwards;
}

.fullpage { width: 100%; min-height: 100vh; }
.main_container { position: relative; background: #fff; }
.main_title { position: relative; z-index: 1; padding: 20vw 25vw 20vw; text-align: center; }
.main_title p { color: #A12121; font-weight: 700; font-size: 2.4vw; margin-bottom: 3vw; font-family: AliceDigitalLearning; }
.main_title img { width: 100%; max-width: 1140px; }
.main_title_img { position: absolute; left: 0; top: 0; z-index: -1; width: 100%; display: flex; justify-content: space-between; align-items: flex-start; }
.main_title_img > div { position: relative; display: flex; justify-content: flex-start; align-items: flex-start; gap: 2vw; background-repeat: no-repeat; background-size: 100%; }
.main_title_img .left { background-image: url(../img/blood_left.png); padding-right: 10vw; background-position: top center; }

.main_title_img .right { background-image: url(../img/blood_right.png); padding-bottom: 10vw; background-position: bottom center; }
.main_title_img .left img:nth-child(2),
.main_title_img .right img:nth-child(1) { width: 14vw; }
.main_title_img .left img:nth-child(1),
.main_title_img .right img:nth-child(2) { width: 20vw; }
.main_mid { position: relative; padding: 0 6vw; text-align: center; background: linear-gradient(180deg, #FFFFFF 60%, #000000 96%); padding-bottom: 15vw; }
.main_mid:before,
.main_mid:after { content: ""; position: absolute; top: 0; z-index: 10; height: 100%; left: 0; width: 100%; background-repeat: no-repeat; }
.main_mid:before { background-image: url(../img/blood_left_mid.png); background-size: 30vw; background-position: top left; }
.main_mid:after { background-image: url(../img/blood_right_mid.png); background-size: 30vw; background-position: bottom right; }
.main_mid > img { width: 100%; max-width: 1600px; }
.main_mid .content { position: absolute; inset: 0; display: flex; justify-content: center; align-items: center; flex-direction: column; }
.main_mid .text { text-align: center; }
.main_mid .text img { height: 13vw; margin: 3vw 0; }
.line_wrap { position: absolute; inset: 0; top: -5vw; z-index: 10; }
.line_wrap img { width: 100%; }
.line_wrap .line { position: relative; }
.line_wrap .line + .line { margin-top: 8vw; }
.line_wrap .line img:nth-child(2) { position: absolute; left: 0; top: 0; }

.main_bottom { background: linear-gradient(180deg, #FFFFFF 0%, #000000 0%); color: #fff; text-align: center; padding-bottom: 120px; }
.main_bottom h1 { font-size: 4vw; font-weight: 400; font-family: Euljiro10YearsLater; color: rgba(239, 0, 0, 1); margin-bottom: 3vw; }
.main_bottom .img { max-width: 700px; width: 50vw; margin: 0 auto; margin-bottom: 8vw;  }
.main_bottom .img img { width: 100%; }
.main_bottom pre { white-space: pre-line; font-size: 3.2vw; font-weight: 400; font-family: Euljiro10YearsLater;  line-height: 2; color: #fff; margin-bottom: 100px; }
.main_bottom .btn { background: #fff; font-size: 32px; font-weight: 400; padding: 20px 30px; width: 400px; border-radius: 24px; color: #000; }

/* 찾기 */
.wanted_container { position: relative; display: flex; justify-content: flex-start; align-items: stretch; flex-direction: column; background: #000; overflow: hidden; }
.wanted_container .inner { width: 100%; max-width: 1500px; margin: auto; padding: 190px 20px 0; }
.wanted_container > .btn_area { width: 100%; display: flex; justify-content: center; align-items: center; z-index: 10; padding: 100px 0 90px; gap: 10vw; }
.wanted_container > .btn_area .btn { background: #fff; font-size: 32px; font-weight: 400; padding: 0.6em 1em; border-radius: 24px; text-align: center; }
.wanted_text { text-align: center; }
.wanted_text img { height: 120px; }
.wanted_text img { max-height: 9vw; }
.wanted_group { display: flex; justify-content: center; align-items: center; gap: 7vw 5%; flex-wrap: wrap; }
.wanted_poster { max-width: 30%; padding: 60px 20px; background-image: url(../img/bg_box.png); background-size: 100%; background-repeat: no-repeat; background-position: center; cursor: pointer; }
.wanted_poster img { width: 100%; transition: all 0.3s; -webkit-transition: all 0.3s; filter: grayscale(1); -webkit-filter: grayscale(1); }
.wanted_poster:hover img { filter: grayscale(0); -webkit-filter: grayscale(0);  }
.wanted_group li:nth-child(4) { width: 100%; }

.wanted_layerpop,
.wanted_files { visibility: hidden; opacity: 0; transition: all 0.3s; -webkit-transition: all 0.3s; }
.wanted_layerpop.active,
.wanted_files.active { visibility: visible; opacity: 1; }

.wanted_layerpop { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; display: flex; justify-content: flex-start; align-items: stretch; flex-direction: column; background: rgba(0,0,0,0.5); }
.wanted_layerpop .inner { padding-bottom: 270px; }
.wanted_layerpop .wanted_group { gap: 5vw 4%; align-items: stretch; }
.wanted_layerpop .wanted_group li:nth-child(4) { visibility: hidden; height: 1.5vw; }
.wanted_files { position: relative; max-width: 30%; width: 400px; background: #F7F7F7; margin-top: 15px; padding: 110px 26px 20px; border-radius: 30px; border: 1px solid rgba(125, 125, 125, 1); }
.wanted_files:before { content: ""; position: absolute; top: -11%; width: 34%; z-index: 10; aspect-ratio: 1/1.6; background-image: url(../img/clip.png); background-size: cover; background-position: center; }
.wanted_files:after { content: ""; position: absolute; top: 23px; left: 50%; z-index: 10; margin-left: -12px; width: 24px; height: 24px; background: #000; border-radius: 50%; }
.wanted_files .btn_area { display: flex; justify-content: space-around; align-items: center; margin-top: 20px; gap: 5px; }
.wanted_files .btn_area .btn { flex: 1; max-width: 143px; font-size: 13px; font-weight: 400; background: #000; color: #fff; padding: 10px; border-radius: 30px; text-align: center; }

.wanted_files_profile {  border: 1px solid #979797; }
.wanted_files_profile h1 { text-align: center; padding: 10px; }
.wanted_files_profile h1 img { width: 100%; vertical-align: middle; }
.wanted_files_profile table { border-collapse: collapse; width: 100%; }
.wanted_files_profile th,
.wanted_files_profile td { border-top: 1px solid #979797; text-align: left; font-size: 10px; }
.wanted_files_profile th { vertical-align: top; padding: 5px; }
.wanted_files_profile td { padding: 10px; line-height: 1.5; }

.wanted_files_head { background: #000; color: #fff; padding: 10px; font-size: 12px; font-weight: 700; }
.wanted_files_img { display: flex; justify-content: flex-start; align-items: stretch; gap: 17px; padding: 15px 0 20px; }
.wanted_files_img .box { flex: 1; border: 1px solid #979797; padding: 12px 10px; }
.wanted_files_img .box img { width: 100%; }
.wanted_files_img .box:nth-child(1) { margin-left: 7px; background: #E0E0E0; outline: 1px solid #CACACA; outline-offset: 7px; }
.wanted_files_img .box:nth-child(1) img { filter: grayscale(1); -webkit-filter: grayscale(1); }

/* 머그샷 */
.mugshot_container { display: flex; justify-content: center; align-items: center; background-color: #000; }
.mugshot_container .inner { position: relative; }
.mugshot_container .bg { width: 100%; height: 894px; margin: auto; overflow: hidden; }
.mugshot_container .bg img { width: 100%; height: 100%; object-position: center; object-fit: cover; }
.mugshot_container .content { position: absolute; inset: 0; overflow: hidden; display: flex; justify-content: flex-start; align-items: center; flex-direction: column; padding-top: 80px; }
.mugshot_container .btn { font-size: 32px; font-weight: 400; padding: 10px 32px; border-radius: 50px; background: #000; color: #fff; }
.mugshot_container .title { margin-top: 70px; text-align: center; }
.mugshot_container .title img { height: 132px; }
.mugshot_img { margin-top: auto; text-align: center; width: 100%; max-width: 900px; filter: grayscale(1); -webkit-filter: grayscale(1); transition: all 0.3s; -webkit-transition: all 0.3s; }
.mugshot_img:hover { filter: grayscale(0); -webkit-filter: grayscale(0); }
.mugshot_box { position: relative; margin-top: auto; text-align: center; width: 100%; max-width: 975px; }
.mugshot_box img:nth-child(2),
.mugshot_box img:nth-child(3) { position: absolute; margin: 50px; }
.mugshot_box img:nth-child(2) { right: 0%; top: 10%; }
.mugshot_box img:nth-child(3) { right: 0; top: 25%; }


/* 종료 */
.ending_area { position: absolute; inset: 0; z-index: 10; transition: all 0.8s; display: flex; justify-content: center; align-items: center;  -webkit-transition: all 0.8s; visibility: hidden; opacity: 0; background: #000; }
.ending_area.show { visibility: visible; opacity: 1; }
.ending_area .inner { position: relative; padding: 20px; width: 100%; padding: 100px; text-align: center; }
.ending_area .text { font-family: SchoolSafetyGoodSupport; margin: auto; font-size: 24px; font-weight: 700; min-height: 1.5em; line-height: 1.5; padding: 2rem 0; }
.ending_area .btn_area { height: 66px;; }
.ending_area .btn { margin-top: 25px; font-size: 32px; font-weight: 400; background: #000; color: #fff; text-align: center; }
/*.ending_area .text:after {
  content: '|';
  margin-left: 2px;
  animation: blink 1s infinite;
  color: #fff;
}*/

@media(max-width: 1440px){
	.mugshot_container .bg { height: 650px; }
	.mugshot_container .btn { font-size: 16px; }
	.mugshot_container .title { margin-top: 50px; }
	.mugshot_container .title img { height: 80px; }
	.mugshot_box { max-width: 600px; }
	.mugshot_box img,
	.mugshot_img img { max-width: 100%; }
	.mugshot_box img:nth-child(2), 
	.mugshot_box img:nth-child(3) { margin: 20px 10px; width: 45px; }
}


@media(max-width: 1280px){
	.wanted_layerpop .wanted_group { gap: 4vw 4%; }
	.wanted_files { padding: 80px 10px 15px; border-radius: 20px; }
	.wanted_files .btn_area .btn { font-size: 10px; }
}

@media(max-width: 1024px){
	.wanted_container > .btn_area { flex-direction: column; padding: 30px 20px; gap: 20px; }
	.wanted_container > .btn_area .btn { font-size: 16px; width: 100%; max-width: 300px; border-radius: 5px; }
	.wanted_container .inner { position: relative; padding: 90px 0 0; justify-content: flex-start; }
	.wanted_group { flex-wrap: nowrap; overflow: auto; justify-content: flex-start; padding: 30px 40px; gap: 30px; }
	.wanted_group::-webkit-scrollbar { width: 0; height: 0; }
	.wanted_group li { flex-shrink: 0; max-width: 400px; width: 260px; }
	.wanted_group li:nth-child(4) { position: absolute; top: 50px; left: 0; right: 0; max-width: inherit; }
	.wanted_text  { padding: 0 40px; }
	.wanted_text img { max-height: inherit; height: auto; width: 100%; max-width: 400px; }

	.ending_area .inner { padding: 30px 20px; max-width: 400px; }
	.ending_area .text { font-size: 16px; min-height: 90px; }

	.wanted_layerpop .inner { padding: 0; display: flex; justify-content: center; align-items: flex-start; height: 100%; width: 100%; }
	.wanted_layerpop .wanted_group { width: 100%; padding: 50px 20px; margin: auto; }
	.wanted_files { padding: 50px 12px 12px; border-radius: 10px; margin: auto; width: 100% !important;  max-width: 400px !important; }
	.wanted_files:before { width: 17%; top: -6%; }
	.wanted_files:not(.active) { display: none; }
	.wanted_files .btn_area { flex-direction: column; }
	.wanted_files .btn_area .btn { max-width: 100%; width: 100%; font-size: 14px; }

	.main_bottom .btn { font-size: 16px; width: 100%; max-width: 320px; border-radius: 30px; padding: 12px 30px; }

	.mugshot_container .content { padding: 50px 20px 0; }
	.mugshot_container .title { width: 100%; max-width: 320px; }
	.mugshot_container .title img { height: auto; width: 100%; }
	.mugshot_box img:nth-child(2), 
	.mugshot_box img:nth-child(3) { width: 10%; }
}

@media(max-width: 768px){

	.main_title { padding: 100px 20vw; }
	.main_title p { font-size: 16px; word-break: keep-all; margin-bottom: 20px; }
	.main_title img { max-width: 200px; }
	.main_title_img .left img:nth-child(1), 
	.main_title_img .right img:nth-child(2) { width: 92px; }
	.main_title_img .left img:nth-child(2), 
	.main_title_img .right img:nth-child(1) { width: 10vw; }

	.main_bottom { padding: 50px 20px; }
	.main_bottom h1 { font-size: 32px; margin-bottom: 20px; }
	.main_bottom .img { width: 100%; max-width: 400px; margin-bottom: 30px; }
	.main_bottom pre { font-size: 24px; margin-bottom: 40px; }
}